src/.vs/
src/Astrondo.Periwinkly.Discovery/bin/
src/Astrondo.Periwinkly.Discovery/obj/
src/Astrondo.Periwinkly.Tests/bin/
src/Astrondo.Periwinkly.Tests/obj/
src/Astrondo.Periwinkly.TestTool/bin/
src/Astrondo.Periwinkly.TestTool/obj/
src/Astrondo.Periwinkly/bin/
src/Astrondo.Periwinkly/obj/
